.dark-mode {
    background-color: #292828;
}

.dark-mode body {
    background-color: #2c2c2c;
    color: #ffffff;
    scroll-behavior: smooth; 
}

.dark-mode iframe {
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    height: 200px;
    margin-top: 35px; 
}

.dark-mode header {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #121212;
}

.dark-mode .title {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: bold;
}

.dark-mode .subtitle {
    color: #ffffff;
}

.dark-mode #study-tracker {
    color: #ffffff;
}

.dark-mode #container{
    background-color:  #292828;
}

.dark-mode .timer-container {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background-color: #333333;
    border-radius: 15px;
}

.dark-mode .timer-container h3 {
    margin: 0 auto;
}

.dark-mode .input-container {
    text-align: center;
    color: #ffffff;
}

.dark-mode #timer {
    font-size: 9em;
    width: 100%;
    height: 100%;
    color: #ffffff;
    margin-top: 40px;
}

.dark-mode input[type="number"],
.dark-mode #newTodo {
    width: 80%;
    max-width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
}

.dark-mode .buttons {
    margin-top: 20px;
    margin-bottom: 30px;
}

.dark-mode button {
    font-size: 1em;
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode button:hover {
    background-color: #ffffff;
    color: #000;
}

.dark-mode .todo-container {   
    text-align: center;
    width: 400px;
    margin-top: 20px;
    background-color: #333333;
    border-radius: 15px;
}

.dark-mode .todo-container h2 {
    background-color: #333333;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.dark-mode ul {
    list-style-type: none;
    padding: 0;
}

.dark-mode li {
    background-color: #333333;
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff; /* Set text color to white */
}

.dark-mode li button {
    background-color: #ca7373;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.dark-mode #newTodo {
    width: 80%;
    max-width: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
}

.dark-mode #addTaskBtn {
    font-size: 1em;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode #addTaskBtn:hover {
    background-color: #ffffff;
    color: #000;
}

.dark-mode .tutorial-content {
    width: 85%;
}

.dark-mode .tutorial-content h1,
.dark-mode .tutorial-content h2,
.dark-mode .tutorial-content h3 {
    background-color: #333333;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    color: #ffffff; /* Set text color to white */
}