@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; 
    }

    .timer-container,
    .todo-container {
        width: 100%; 
        margin: 10px auto; 
        padding: 10px; 
    }

    .todo-container {   
        text-align: center;
        background-color: #f6f8e3;
        border-radius: 8px;
        width: 180%;
        max-height: 300px; 
        overflow-y: auto; 
    }

    
    .todo-container h2 {
        background-color: #f6f8e3;
        padding: 8px 16px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        background-color: #f2f5d5; 
        border: 2px solid  #f2f5d5; 
        margin: 8px 0;
        padding: 8px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li button {
        background-color: #ca7373;
        border: 2px solid #ca7373;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;
    }

    iframe {
        margin-top: 70px;
        width: 98%;
        height: 400px;
        max-width: 100%;
    }

    .tutorial-content h1,
    .tutorial-content h2{
        font-size: 200%;
    }

    .tutorial-content h3 {
        font-size: 120%; ;
    }

    .tutorial-content{
        width: 99%;
    }
}


@media screen and (max-width: 600px) {
    body.dark-mode .container {
        flex-direction: column; 
    }

    body.dark-mode .timer-container,
    body.dark-mode .todo-container {
        width: 100%; 
        margin: 10px auto; 
        padding: 10px; 
    }

    body.dark-mode .todo-container {   
        text-align: center;
        background-color: #333333; 
        border-radius: 8px;
        width: 180%;
        max-height: 300px; 
        overflow-y: auto; 
    }

    
    body.dark-mode .todo-container h2 {
        background-color: #333333; 
        padding: 8px 16px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    
    body.dark-mode ul {
        list-style-type: none;
        padding: 0;
    }

    body.dark-mode li {
        background-color: #3b3b3b;
        border: 2px solid  #3b3b3b;
        margin: 8px 0;
        padding: 8px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    body.dark-mode li button {
        background-color: #ca7373;
        border: 2px solid #ca7373;
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;
    }

    body.dark-mode iframe {
        margin-top: 70px;
        width: 98%;
        height: 400px;
        max-width: 100%;
    }

    body.dark-mode .tutorial-content h1,
    .tutorial-content h2{
        font-size: 200%;
    }

    body.dark-mode .tutorial-content h3 {
        font-size: 120%; ;
    }

    body.dark-mode .tutorial-content{
        width: 99%;
    }
}
