body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100vh;
    margin: 0;
    background-color: #ffffff; 
}   

header {
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.title {
    font-size: 2em;
    width: 100%;
    height: auto;
    color: #000;
    margin-bottom: 1px; 
}

.timer-container {
    text-align: center;
    width: 100%;
    height: auto;
    color: #000; 
    margin-bottom: 20px;
}

#timer {
    font-size: 6.5em;
    width: 100%;
    height: auto;
    color: #000; 
    margin-top: 40px;
}

button {
    font-size: 1em;
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #fff; 
    color: #000; 
    border: 2px solid #000; 
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #000; 
    color: #fff; 
}

body {
    background-image: url('OIG.jpeg');
    width: 100%;
    height: auto;
    background-size: 300px 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    margin:0;
}

.todo-container {   
    text-align: center;
    margin-top: 20px;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #ca7373;
    color: #fff;
    border: 2px solid #000;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
